<div class="row">
  <div class="col-xl-9 col-lg-8">
    <div class="row">
      <div class="col-6 pe-2">
        <div class="card">
          <div class="card-header p-3">
            <h4 class="card-title m-0 font-bold">My Task</h4>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead class="table-light">
                  <tr>
                    <th class="p-2">Project Name</th>
                    <th class="p-2">Task Name</th>
                    <th class="p-2">Work Logs</th>
                    <th class="p-2">Due Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-2">HRMS</td>
                    <td class="p-2">Invoice Design</td>
                    <td class="p-2">01h 04m</td>
                    <td class="p-2">6 july, 2020</td>
                  </tr>
                  <tr>
                    <td class="p-2">HRMS</td>
                    <td class="p-2">Invoice Design</td>
                    <td class="p-2">01h 04m</td>
                    <td class="p-2">6 july, 2020</td>
                  </tr>
                  <tr>
                    <td class="p-2">HRMS</td>
                    <td class="p-2">Invoice Design</td>
                    <td class="p-2">01h 04m</td>
                    <td class="p-2">6 july, 2020</td>
                  </tr>
                  <tr>
                    <td class="p-2">HRMS</td>
                    <td class="p-2">Invoice Design</td>
                    <td class="p-2">01h 04m</td>
                    <td class="p-2">6 july, 2020</td>
                  </tr>
                  <tr>
                    <td class="p-2">HRMS</td>
                    <td class="p-2">Invoice Design</td>
                    <td class="p-2">01h 04m</td>
                    <td class="p-2">6 july, 2020</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 px-2">
            <div class="row">
              <div class="col-12 px-2">
                <div class="card">
                  <div class="card-header p-3">
                    <h4 class="card-title m-0 font-bold">Employee On leave</h4>
                  </div>
                  <div class="card-body">
                    <div class="d-flex align-items-start mb-3">
                      <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                        alt="Generic placeholder image" height="36">
                      <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">Scott Median</p>
                        <p class="text-muted m-0">Hello</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                      <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                        alt="Generic placeholder image" height="36">
                      <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">Scott Median</p>
                        <p class="text-muted m-0">Hello</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                      <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                        alt="Generic placeholder image" height="36">
                      <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">Scott Median</p>
                        <p class="text-muted m-0">Hello</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-start">
                      <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                        alt="Generic placeholder image" height="36">
                      <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">Scott Median</p>
                        <p class="text-muted m-0">Hello</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 px-2">
            <div class="row">
              <div class="col-12 px-2">
                <div class="card">
                  <div class="card-header p-3">
                    <h4 class="card-title m-0 font-bold">Employee On leave</h4>
                  </div>
                  <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                      <div class="d-flex align-items-start">
                        <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                          alt="Generic placeholder image" height="36">
                        <div class="flex-grow-1 chat-user-box">
                          <p class="user-title m-0">Scott Median</p>
                          <p class="text-muted m-0">Hello</p>
                        </div>
                      </div>
                      <div class="chat-user-box">
                        <p class="text-muted m-0">26 july, 2020</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                      <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                        alt="Generic placeholder image" height="36">
                      <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">Scott Median</p>
                        <p class="text-muted m-0">Hello</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                      <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                        alt="Generic placeholder image" height="36">
                      <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">Scott Median</p>
                        <p class="text-muted m-0">Hello</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-start">
                      <img class="flex-shrink-0 me-3 rounded-circle" src="assets/images/users/avatar-2.jpg"
                        alt="Generic placeholder image" height="36">
                      <div class="flex-grow-1 chat-user-box">
                        <p class="user-title m-0">Scott Median</p>
                        <p class="text-muted m-0">Hello</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-lg-4 ps-2">
    <div class="card m-0 vh-100">
      <div class="card-body">
        <div class="row">
          <div class="col-sm order-2 order-sm-1 w-100">
            <div class="d-flex align-items-start mt-3 mt-sm-0 w-100">
              <div class="flex-shrink-0 w-100">
                <div class="w-100 text-center">
                  <img src="assets/images/users/avatar-2.jpg" width="100"
                    class="img-fluid rounded-circle d-inline-block mb-3">
                  <h5 class="font-size-16 mb-1 w-100 text-center">Phyllis Gatlin</h5>
                  <p class="text-muted font-size-13">Full Stack Developer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h5 class="card-title mb-2">Your Timing</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pe-2">
            <div class="card border border-success mb-2">
              <div class="card-body text-center p-3">
                <h5 class="text-success">Current Time</h5>
                <p class="card-text">00:00:00</p>
              </div>
            </div>
          </div>
          <div class="col-6 ps-2">
            <div class="card border border-danger mb-2">
              <div class="card-body text-center p-3">
                <h5 class="text-danger">Break Time</h5>
                <p class="card-text">00:00:00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 gap-2 d-flex flex-wrap">
            <button type="button" class="btn btn-success waves-effect waves-light w-100">
              Clock IN
            </button>
            <button type="button" class="btn btn-danger waves-effect waves-light w-100">
              Clock OUT
            </button>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
