<div>
  <ul class="mb-6 flex space-x-2 rtl:space-x-reverse">
    <ng-container *ngFor="let item of pageService.breadcrumb; index as i;let first= first; let last = last">
      <li *ngIf="!first" class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
        <a [routerLink]="[item.state]" routerLinkActive="router-link-active" class="text-primary hover:underline"
          *ngIf="!last">{{item.name}}</a>
        <span *ngIf="last">{{item.name}}</span>
      </li>
      <li *ngIf="first">
        <a [routerLink]="[item.state]" routerLinkActive="router-link-active" class="text-primary hover:underline"
          *ngIf="!last">{{item.name}}</a>
        <span *ngIf="last">{{item.name}}</span>
      </li>
    </ng-container>
  </ul>
</div>