<div [formGroup]="formGroup">
  <label [for]="config.jsonProperty">{{config.title}}</label>
  <input [id]="config.jsonProperty" type="number" class="form-control" [formControlName]="config.jsonProperty"
    [ngClass]="{'is-valid': isSubmitted && formGroup.get(config.jsonProperty).valid, 'is-invalid': isSubmitted && formGroup.get(config.jsonProperty).errors}">
  @if(isSubmitted && formGroup.get(config.jsonProperty).errors){
  <div class="invalid-feedback">
    @for (validation of config.validation; track $index) { <span>{{validation.message}}</span> }
  </div>
  }
</div>
