.dropzone-global {
  height: 38px;
}
.dropzone-view{
  .container-fluid{
    height: 38px;
    border: 1px dashed var(--bs-gray-400) !important;
    border-radius: 5px!important;
    .delete-btn{
      margin: -1px 0;
    }
    span{
      font-size: 12px;
    }
  }
}
::ng-deep {
  dropzone > {
    .dz-wrapper {
      overflow: hidden !important;
    }
  }
}

::ng-deep .is-invalid {
  .dz-wrapper {
    border-color: var(--bs-form-invalid-border-color) !important;
  }
}

::ng-deep [data-bs-theme="dark"] .is-invalid .dz-wrapper {
  border-color: var(--bs-form-invalid-border-color) !important;
}
