<div [formGroup]="formGroup">
  <label [for]="config.jsonProperty">{{config.title}}</label>
  <ng-select [bindLabel]="config.title" [formControlName]="config.jsonProperty" class="ng-select-global"
    [ngClass]="{'is-valid': isSubmitted && formGroup.get(config.jsonProperty).valid, 'is-invalid': isSubmitted && formGroup.get(config.jsonProperty).errors}">
    @if(config.options && config.options.length){
    @for(item of config.options; track $index){ <ng-option [value]="item.key">{{ item.value }}</ng-option> }
    }
  </ng-select>
  @if(isSubmitted && formGroup.get(config.jsonProperty).errors){
  <div class="invalid-feedback">
    @for (validation of config.validation; track $index) { <span>{{validation.message}}</span> }
  </div>
  }
</div>
